<%= form_with(model: race) do |form| %>
  <% if race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
        <% race.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :grandprix_circuit_id, value: params[:grandprix_circuit_id] %>

  <div class="field">
    <%= form.label :p1 %>
    <%= form.select :p1, options_for_select(User.all.pluck(:name, :id), include_blank: "Select One") %>
  </div>

  <div class="field">
    <%= form.label :p2 %>
    <%= form.select :p2, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p3 %>
    <%= form.select :p3, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p4 %>
    <%= form.select :p4, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p5 %>
    <%= form.select :p5, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p6 %>
    <%= form.select :p6, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p7 %>
    <%= form.select :p7, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p8 %>
    <%= form.select :p8, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p9 %>
    <%= form.select :p9, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p10 %>
    <%= form.select :p10, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p11 %>
    <%= form.select :p11, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p12 %>
    <%= form.select :p12, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p13 %>
    <%= form.select :p13, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p14 %>
    <%= form.select :p14, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p15 %>
    <%= form.select :p15, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p16 %>
    <%= form.select :p16, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p17 %>
    <%= form.select :p17, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p18 %>
    <%= form.select :p18, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p19 %>
    <%= form.select :p19, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="field">
    <%= form.label :p20 %>
    <%= form.select :p20, options_for_select(User.all.pluck(:name, :id), :include_blank => true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
