<p id="notice"><%= notice %></p>

<p>
  <strong>Grandprix circuit:</strong>
  <%= @race.grandprix_circuit_id %>
</p>

<p>
  <strong>P1:</strong>
  <%= User.find(@race.p1).name %>
</p>

<p>
  <strong>P2:</strong>
  <%= User.find(@race.p2).name %>
</p>

<p>
  <strong>P3:</strong>
  <%= User.find(@race.p3).name %>
</p>

<p>
  <strong>P4:</strong>
  <%= @race.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @race.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @race.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @race.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @race.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @race.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @race.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @race.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @race.p12 %>
</p>

<p>
  <strong>P13:</strong>
  <%= @race.p13 %>
</p>

<p>
  <strong>P14:</strong>
  <%= @race.p14 %>
</p>

<p>
  <strong>P15:</strong>
  <%= @race.p15 %>
</p>

<p>
  <strong>P16:</strong>
  <%= @race.p16 %>
</p>

<p>
  <strong>P17:</strong>
  <%= @race.p17 %>
</p>

<p>
  <strong>P18:</strong>
  <%= @race.p18 %>
</p>

<p>
  <strong>P19:</strong>
  <%= @race.p19 %>
</p>

<p>
  <strong>P20:</strong>
  <%= @race.p20 %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
