<p id="notice"><%= notice %></p>

<p>
  <strong>Grandprix circuit:</strong>
  <%= @race.grandprix_circuit_id %>
</p>

<p>
  <strong>P1:</strong>
  <%= User.find(@race.p1).name %>
</p>

<p>
  <strong>P2:</strong>
  <%= User.find(@race.p2).name %>
</p>

<p>
  <strong>P3:</strong>
  <%= User.find(@race.p3).name %>
</p>

<p>
  <strong>P4:</strong>
  <%= User.find(@race.p4).name %>
</p>

<p>
  <strong>P5:</strong>
  <%= User.find(@race.p5).name %>
</p>

<p>
  <strong>P6:</strong>
  <%= User.find(@race.p6).name %>
</p>

<p>
  <strong>P7:</strong>
  <%= User.find(@race.p7).name %>
</p>

<p>
  <strong>P8:</strong>
  <%= User.find(@race.p8).name %>
</p>

<p>
  <strong>P9:</strong>
  <%= User.find(@race.p9).name %>
</p>

<p>
  <strong>P10:</strong>
  <%= User.find(@race.p10).name %>
</p>

<p>
  <strong>P11:</strong>
  <%= User.find(@race.p11).name %>
</p>

<p>
  <strong>P12:</strong>
  <%= User.find(@race.p12).name %>
</p>

<p>
  <strong>P13:</strong>
  <%= User.find(@race.p13).name %>
</p>

<p>
  <strong>P14:</strong>
  <%= User.find(@race.p14).name %>
</p>

<p>
  <strong>P15:</strong>
  <%= User.find(@race.p15).name %>
</p>

<p>
  <strong>P16:</strong>
  <%= User.find(@race.p16).name %>
</p>

<p>
  <strong>P17:</strong>
  <%= User.find(@race.p17).name %>
</p>

<p>
  <strong>P18:</strong>
  <%= User.find(@race.p18).name %>
</p>

<p>
  <strong>P19:</strong>
  <%= User.find(@race.p19).name %>
</p>

<p>
  <strong>P20:</strong>
  <%= User.find(@race.p20).name %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
