<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grandprix.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grandprix.description %>
</p>

<h3>Circuits</h3>

<% @grandprix.grandprix_circuits.each do |gpc| %>
  <p>
    <%= link_to gpc.circuit.name, gpc %>
  </p>

<% end %>

<%= link_to "Add Circuit", new_grandprix_circuit_path(grandprix_id: @grandprix.id) %>

<%= link_to 'Edit', edit_grandprix_path(@grandprix) %> |
<%= link_to 'Back', grandprixes_path %>
