<!DOCTYPE html>
<html>
  <head>
    <title>GtGrandPrix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="nav-collapse">
        <div class="nav-logo"></div>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to('Grand Prix', grandprixes_path) %></li>
            <li><%= link_to('Circuits', circuits_path) %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

          <% else %>

            <li><%= link_to 'Log in', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>

      <div class="application-layout">
        <div class="container">
          <%= yield %>
        </div>
      <div>

      <script>
        var nav = responsiveNav(".nav-collapse");
      </script>

    </body>
</html>
